.navbar {
  background-color: #161616;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #eee;
}

.date {
  font-size: 1rem;
  color: #ffffff;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0;
}

.logo-image {
  height: 50px;
  width: auto;
}

.info-section {
  display: flex;
  align-items: center;
  gap: 25px;
  
}

.weather-info, .air-quality {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
  font-size: 1.1rem;
  background: #161616;
  border-radius: 6px;
  color: #ffffff;
}



.login-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background: #007bff;
  color: #1a1a1a;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s;
}

.main-nav {
  padding: 15px 40px;
  background: #161616;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #eee;
}

.nav-links {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  padding: 0.0005rem 0.1rem;
}

.nav-link {
  color: #e9ecef;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: color 0.2s, background-color 0.2s;
}

.nav-link:hover {
  background: #e9ecef;
  color: #007bff;
}

@media (max-width: 1024px) {
  .nav-links, .sub-nav-links {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .info-section {
    display: none;
  }

  .date {
    display: none;
  }

  .logo {
    position: static;
    transform: none;
  }

  .logo-image {
    height: 40px;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .top-bar {
    padding: 12px 20px;
    flex-wrap: wrap;
    gap: 15px;
  }

  .main-nav {
    padding: 12px 20px;
    overflow-x: auto;
  }

  .nav-links {
    gap: 15px;
  }

  .weather-info {
    font-size: 1rem;
  }

  .logo-image {
    height: 40px;
  }
}